.App {
  display: flex;
}
.name{
 text-align:center
}

.addfolder:hover{
cursor: pointer;
}

.bar{
  display: flex;
    background-color: rgb(10, 81, 163);
    color: white;
    font-size: large;
    width: 100vw;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.breadcrumb:hover{

cursor:pointer;
}
